// src/app/home/home.component.scss
.container {
  height: 100vh;
  margin-top: 5%;
}

hr {
  margin-right: auto;
  margin-top: 2px;
  width: 55px;
  color: #809fe5;
  background-color: #809fe5;
  height: 2px;
  opacity: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 100vh; 
  padding: 95px;
  padding-top: 50px;
  background-color: rgb(253, 255, 254);
  // border: 1px solid black;
}

.info {
  width: 100%;
  h3, p {
    text-align: left;
    a {
      color: #37598f;
    }  
  }
  p {
    color: #5e6162;
  }
}


.submit-btn {
  color: #FFFFFF;
  background-color: rgba(37,73,169,255);
}

.form-input {
  width: 100%;
}

.form-group {
  width: 300px; 
  margin-bottom: 15px;
  background-color: #FFFFFF;
  width: 100%;
}

button {
  width: 100%; 
}

// #intro {
//   text-align: left;
// }
